
  <style>
    .source_a{
      color: white;
    }
    .source_div{
      margin-left: 20px;
    }
    .source_h1{
      margin: 10px 0;
    }
    .source_h3{
      margin: 5px;
    }
    #main-source{
      position: relative;
      width: 90%;
      background: rgba(0, 0, 0, 0.5);
      margin: 10px auto;
      padding: 10px;
      height: 700px
    }
    .source{
      float: left;
      width: 30%;
    }
  </style>

  <!--출처 목록-->
  <div class="source_div" id="main-source">

    <div class="source_div" class="source">
      <h1 class="source_h1">요리왕</h1>
      <h3 class="source_h3">이미지</h3>
      전자레인지
      <a class="source_a" href="https://kr.clipartlogo.com/image/microwave-oven-clip-art_361985.html">https://kr.clipartlogo.com/</a><br/>
      <h3 class="source_h3">음악</h3>
      전자레인지<a class="source_a" href=" https://www.youtube.com/watch?v=DwJjERyOovY&t=624s">https://www.youtube.com/</a><br/>
      <h3 class="source_h3">효과음</h3>
      <a class="source_a" href="https://bgmstore.net/">https://bgmstore.net/</a><br/>
      <br/>
    </div>

    <div class="source_div" class="source">
      <h1 class="source_h1">숫자 야구</h1>
      <h3 class="source_h3">이미지</h3>
      <a class="source_a" href="https://kr.123rf.com/photo_31484593_%EC%95%BC%EA%B5%AC-%ED%95%84%EB%93%9C%EC%9E%85%EB%8B%88%EB%8B%A4-%EB%B2%A1%ED%84%B0-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-%EB%A0%88%EC%9D%B4-%EC%85%98.html">https://kr.123rf.com/photo</a><br/>
      <h3 class="source_h3">음악</h3>
      <a class="source_a" href="https://www.bensound.com/royalty-free-music/track/little-idea">https://www.bensound.com</a><br/>
      <h3 class="source_h3">효과음</h3>
      정답 <a class="source_a" href="https://bgmstore.net/view/5bb0d0f9352039d22708ce13/%EB%B9%B5%EB%B9%A0%EB%A0%88%20%ED%9A%A8%EA%B3%BC%EC%9D%8C(%EA%B8%B0%EC%81%A8,%EB%8B%B9%EB%8B%B9)">https://bgmstore.net/</a><br/>
      실패 <a class="source_a" href="https://bgmstore.net/view/5bb0d095352039d22706bd93/1%EB%B0%952%EC%9D%BC%20%EB%AF%B8%EC%85%98%EC%8B%A4%ED%8C%A8">https://bgmstore.net/</a><br/>
      <br/>
    </div>

    <div class="source_div" class="source">
      <h1 class="source_h1">연속 가위 바위 보</h1>
      <h3 class="source_h3">이미지</h3>
      가위바위보 <a class="source_a" href="http://sscoach.kr/xe/?mid=board_gLSI95&category=5216&document_srl=36339&order_type=asc&sort_index=title&listStyle=viewer">http://sscoach.kr/</a><br/>
      <h3 class="source_h3">배경음악</h3>
      <a class="source_a" href="https://www.youtube.com/audiolibrary/music?ar=2&nv=1">https://www.youtube.com/audiolibrary/music</a><br/>
      <h3 class="source_h3">효과음</h3>
      성공 <a class="source_a" href="https://freesound.org/people/grunz/sounds/109662/">https://freesound.org/</a><br/>
      실패 <a class="source_a" href="https://freesound.org/people/silversatyr/sounds/113365/">https://freesound.org/</a><br/>
      <br/>
    </div>

    <div class="source_div" class="source">
      <h1 class="source_h1">2MART</h1>
      <h3 class="source_h3">이미지</h3>
      전자레인지 <a class="source_a" href="https://kr.clipartlogo.com/image/microwave-oven-clip-art_361985.html">https://kr.clipartlogo.com/</a><br />
      <h3 class="source_h3">배경음악</h3>
      이마트 <a class="source_a" href="https://bgmstore.net/view/5bb0d107352039d227092768/%EC%9D%B4%EB%A7%88%ED%8A%B8%EC%86%A1(%EC%9D%B4%EB%A7%88%ED%8A%B8,%EB%B3%91%EB%A7%9B,%EB%82%9C%EB%82%9C%EB%82%98%EC%86%A1)">https://bgmstore.net/</a><br />
      <h3 class="source_h3">효과음</h3>
      <a class="source_a" href="https://bgmstore.net/">https://bgmstore.net/</a><br/>
      <br/>
    </div>

    <div class="source_div" class="source">
      <h1 class="source_h1">카드 뒤집기</h1>
      <h3 class="source_h3">이미지</h3>
      카드 <a class="source_a" href="https://toystory.disney.com/galleries">https://toystory.disney.com</a><br/>
      <h3 class="source_h3">배경음악</h3>
      <a class="source_a" href="https://www.bensound.com/royalty-free-music/track/funky-element">https://www.bensound.com</a><br/>
      <h3 class="source_h3">효과음</h3>
      <a class="source_a" href="https://bgmstore.net/">https://bgmstore.net/</a><br/>
      <br/>
    </div>

    <div class="source_div" class="source">
      <h1 class="source_h1">리듬 플레이</h1>
      <h3 class="source_h3">이미지</h3>
      시작 <a class="source_a" href="http://www.sclance.com/pngs/start-png/view-page-3.htm">http://www.sclance.com</a><br/>
      시계 <a class="source_a" href="https://pngriver.com/download-time-png-hd-74766/">https://pngriver.com</a><br/>
      방향키 <a class="source_a" href="http://616pic.com/sucai/vgpinojrp.html">http://616pic.com</a><br/>
      <h3 class="source_h3">배경음악</h3>
      <a class="source_a" href="https://www.youtube.com/audiolibrary/music?ar=2&nv=1">https://www.youtube.com/</a><br/>
      <h3 class="source_h3">효과음</h3>
      버튼 <a class="source_a" href="https://freesound.org/people/InspectorJ/sounds/403012/">https://freesound.org/</a><br/>
      <br/>
    </div>

    <div class="source_div" class="source">
      <h1 class="source_h1">Main Page</h1>
      <h3 class="source_h3" class="source_h3">이미지</h3>
      배경 <a class="source_a" href="https://kor.pngtree.com/free-backgrounds-photos/%EC%9A%B0%EC%A3%BC-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8">https://kor.pngtree.com/</a><br/>
      행성 <a class="source_a" href="http://www.urbanbrush.net/downloads/%ED%96%89%EC%84%B1-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-ai-%EB%AC%B4%EB%A3%8C%EB%8B%A4%EC%9A%B4%EB%A1%9C%EB%93%9C-planet-illustration/">http://www.urbanbrush.net/</a><br/>
    </div>

  </div>

